:root {

	@media (min-width:768px) {
		--itemPadding:0 10px;


	}

	@media (max-width:767px) {

		--itemPadding:0 10px;

	}


}

.custom-product--listing {

	&:before {
		content         : "";
		display         : block;
		position        : absolute;
		top             : 40%;
		left            : 0;
		width           : 100%;
		height          : 60%;
		background-color: @white;
		z-index         : 0;
		clip-path       : polygon(100% 17%, 100% 100%, 0 100%, 0 200px);
	}
}


.product-items {
	background: white !important;
	padding   : 0px !important;

}

.custom-product--listing,
.product-items {
	display         : block;
	position        : relative;
	width           : 100%;
	height          : auto;
	background-color: @grey;
	padding         : 60px 0 0 0;



	small {
		display       : block;
		margin-bottom : 30px;
		text-align    : center;
		text-transform: uppercase;
		font-family   : @axiformabook;
		font-size     : 14px;
		line-height   : 14px;
		color         : @red;
	}

	h1,
	h2,
	h3 {
		display       : block;
		margin-bottom : 30px;
		text-align    : center;
		text-transform: uppercase;
		font-family   : @axiformabook;
		color         : @red;
		margin-bottom : 60px;

		strong {
			font-family: @axiformabold;
		}
	}



	.item {
		padding: var(--itemPadding);

		// @media @tablet {
		// 	padding: 0 10px;
		// }

		&:hover {
			.product-info {
				border: 1px solid @red;
			}
		}

		.product-image-wrapper {
			display: revert;

			.product-image-photo {
				position: relative;
			}
		}

	}

	.product-info,
	.product-item-info {
		background-color: @white;
		padding         : 25px 25px 35px 25px;
		border          : 1px solid #eee;


		@media @desktop {
			padding: 10px 10px 15px 10px;
		}

		p {
			margin-bottom: 0;
			margin-top   : 20px;
			font-size    : 10px;
		}

		.item-inner,
		.product-item-inner {

			border-top : 1px solid grey;
			padding-top: 20px;
			margin-top : 10px;


			.price-box {
				min-height: 40px;

				.minimal-price {
					margin-top: unset;


				}

				.price {
					font-size  : 22px;
					font-family: "AxiformaSemiBold";
				}

				.old-price {

					span {

						&.price-label {
							font-size: 12px;
							display:block;
							margin-top:10px;

						}
					}

					text-decoration:none;
				

					.price {
						font-size: 18px !important;
					}

					.vatstatus {
						font-size     : 14px;
						line-height   : 10px;
						color         : #7d7d7d;
						font-family   : 'Helvetica';
						text-transform: uppercase;
						margin-left   : 5px;
						font-weight   : normal;
					}

					.price-wrapper {
						
						font-size:unset;


						.price {
							position:relative;
													

							&:after {
								content:'';
								width:100%;
								height:2px;
								background:black;
								display:block;
								position:absolute;
								left:0px;
								top:50%;
								transform:translateY(-50%);
							}
						}
					}
				}
			}

			a {
				display       : block;
				width         : 100%;
				color         : @red;
				background    : white;
				font-size     : 14px;
				padding       : 10px;
				text-align    : center;
				margin-top    : 16px;
				border        : solid 1px @red;
				transition    : all 0.3s;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
					background     : @red;
					color          : white;
				}


			}

		}

	}

	.item-details {
		text-align: left;
	}

	.slick-next {
		right : 5px !important;
		width : 30px !important;
		height: 30px !important;

		@media @desktop {
			right: -30px !important;
		}

		&:before {
			content            : '' !important;
			position           : relative;
			display            : inline-block;
			width              : 30px;
			height             : 30px;
			background-image   : url('../images/icons/red-arrow-next.svg');
			background-repeat  : no-repeat;
			background-size    : 15px;
			background-position: center;
		}
	}

	.slick-prev {
		left   : 5px !important;
		width  : 30px !important;
		height : 30px !important;
		z-index: 10;

		@media @desktop {
			left: -30px !important;
		}

		&:before {
			content            : '' !important;
			position           : relative;
			display            : inline-block;
			width              : 30px;
			height             : 30px;
			background-image   : url('../images/icons/red-arrow-previous.svg');
			background-repeat  : no-repeat;
			background-size    : 15px;
			background-position: center;
		}
	}
}

.custom-product--slider {
	display: none;

	&.slick-initialized {
		display   : block;
		background: transparent !important;
	}
}

/* custom vat suffix */