.homepage-hero {



     
            .slick-prev {
                left: 50px !important;
                background:@red !important;
                width:40px;
                    height:40px;
                display:block;
                border-radius:50%;
                
                &:before {
                    content:"";
                    display:block;
                    color:white;width:100%;
                    height:100%;
                    background-image:url(../images/icons/white-arrow-prev.svg);
                    background-size:25%;
                    background-position:center;
                    background-repeat:no-repeat;
                    
                }
            }

            .slick-next {
                right: 50px !important;
                background:@red !important;
                width:40px;
                height:40px;
            display:block;
            border-radius:50%;
            
            &:before {
                content:"";
                display:block;
                color:white;
                width:100%;
                height:100%;
                background-image:url(../images/icons/white-arrow-next.svg);
                background-size:25%;
                background-position:center;
                background-repeat:no-repeat;
                
            }
            }
        
    
}