/* Custom VES Megamenu tweaks */


div {

    &.ves-megamenu {

        @media (max-width:991px) {

            height: 100vh;

        }

    }


    &.sections {

        &.nav-sections {

            @media (max-width:768px) {

                width: 90%;
                left : -100%;

                .drilldown-back {

                    &:not(:first-of-type) {
                        display: none;
                    }
                }


            }

            @media (min-width:769px) and (max-width:991px) {

                width: 50%;
                left : -100%;

            }

            a {

                &.nav-anchor {
                    position : relative;
                    max-width: 90vw;



                    .opener {
                        @media (max-width:991px) {
                            display         : block;
                            position        : absolute;
                            top             : 0;
                            right           : 0;
                            display         : flex !important;
                            align-items     : center;
                            justify-content : center;
                            height          : 100% !important;
                            line-height     : 100% !important;
                            border          : 0 !important;
                            background-color: transparent !important;
                            z-index         : 1;

                            &:before {

                                content            : "" !important;
                                background-image   : url('../images/Right-arrow.svg');
                                background-repeat  : no-repeat;
                                background-size    : 10px;
                                background-position: center;
                                width              : 20px;
                                height             : 20px;
                                transition         : all 0.3s;
                            }

                        }
                      
                    }

               


                }

               



            }

            .submenu {



                @media (max-width:767px) {
                    display        : block;
                    z-index        : 9999;
                    position       : fixed;
                    background     : white;
                    backdrop-filter: blur(5px);
                    top            : 0 !important;
                    left           : 100% !important;
                    height         : 100vh !important;
                    transition     : all 0s;


                    max-width: 100%;

                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    overflow  : visible;

               

                &.ui-state-active,
                &[style*="display: block"] {
                    transform: translateX(-100%);
                }


                &.close {
                    transform: translate(0%);
                }
            }
            }
        }
    }

}
@media (max-width:767px) {
.ves-megamenu {

    .nav-item {

        &.active {

            &>a {
                background-color: white !important;
            }
        }

    }
}
}

@media (min-width:992px) {
a {
    &.nav-anchor {
    

            & + .submenu {
              //  border-top:5px solid @red !important;

            }

        }

    }
}